/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px 0;
  }
  
  header h1 {
    position: absolute; /* Position the title absolutely */
    margin-top: 100px;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset to truly center */
    z-index: 2; /* Ensure the title is above the image */
    margin: 0;
    font-size: 3rem; /* Adjust the font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for better visibility */
  }
  
  header img {
    margin-top: 10px;
    max-width: 100%;
    left: 50%;
    max-height: 250px;
    height: auto;
    display: block;
    z-index: 1;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }